@page "/Productos/Edit/{ProductoId:int}"
@inject ProductosService productosService
@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle> Edit Productos </PageTitle>

<div class="container mt-3">
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-title text-center"> <strong> Editar Producto </strong></h5>
        </div>

        <EditForm Model="Producto" OnValidSubmit="GuardarProducto">
            <DataAnnotationsValidator />
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"> <strong> Producto Id </strong> </label>
                        <InputNumber class="form-control" @bind-Value="Producto.ProductoId" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"> <strong> Descripcion </strong> </label>
                        <InputText class="form-control" @bind-Value="Producto.Descripcion" />
                        <ValidationMessage For="() => Producto.Descripcion" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"> <strong> Costo </strong> </label>
                        <InputNumber class="form-control" @bind-Value="Producto.Costo" />
                        <ValidationMessage For="() => Producto.Costo" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"> <strong> Precio </strong> </label>
                        <InputNumber class="form-control" @bind-Value="Producto.Precio" />
                        <ValidationMessage For="() => Producto.Precio" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"> <strong> Existencia </strong> </label>
                        <InputNumber class="form-control" @bind-Value="Producto.Existencia" readonly />
                    </div>
                </div>
            </div>

            <div class="card-footer d-flex justify-content-center gap-2">
                <button type="submit" class="btn btn-primary bi bi-floppy"> Guardar </button>
                <button type="button" class="btn btn-danger bi bi-trash" @onclick="() => MostrarModal = true"> Eliminar </button>
                <a class="btn btn-secondary bi bi-arrow-left" href="/Productos/Index"> Regresar </a>
            </div>
        </EditForm>
    </div>
</div>

@if(MostrarModal)
{
    <div class="modal d-block" role="dialog" tabindex="-1" style="background: rgba(0,0,0,0.5)">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mx-auto"> Eliminar producto </h5>
                </div>

                <div class="modal-body">
                    <label class="col-12"> <strong> Producto Id: </strong> @Producto.ProductoId</label>
                    <label class="col-12"> <strong> Descripcion: </strong> @Producto.Descripcion</label>
                    <label class="col-12"> <strong> Costo: </strong> @Producto.Costo.ToString("F2")</label>
                    <label class="col-12"> <strong> Precio: </strong> @Producto.Precio.ToString("F2")</label>
                    <label class="col-12"> <strong> Existencia: </strong> @Producto.Existencia.ToString("F2")</label>
                    <label class="text-danger"> Esta seguro que desea eliminar este producto? </label>
                </div>

                <div class="modal-footer d-flex justify-content-center gap-2">
                    <button type="button" class="btn btn-danger bi bi-trash" @onclick="EliminarProducto"> Si, deseo eliminar </button>
                    <button type="button" class="btn btn-secondary bi bi-arrow-left" @onclick="() => MostrarModal = false"> Regresar </button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int ProductoId { get; set; }

    public Productos Producto { get; set; } = new();

    private bool MostrarModal { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        Producto = await productosService.Buscar(ProductoId);
    }

    public async Task GuardarProducto()
    {
        if (await productosService.Guardar(Producto))
        {
            navigation.NavigateTo("/Productos/Index");
        }
    }

    public async Task EliminarProducto()
    {
        if (await productosService.Eliminar(ProductoId))
        {
            navigation.NavigateTo("/Productos/Index");
        }
    }
}